@font-face {
  font-family: "sharp_font";
  src: url("../font/Sharp Font/");
  src: url("../font/Sharp Font/sharp-webfont.woff") format("woff"), url("../font/Sharp Font/sharp-webfont.woff2") format("woff2");
}

@keyframes pulse_top {
  0% {
    box-shadow: rgba(255, 88, 81, 255) 0 0 0 0;
  }

  100% {
    box-shadow: rgba(235, 235, 235, 0) 0 0 0 16px;
  }
}

@keyframes up_down {

  0%,
  100% {
    top: 50%;
  }

  50% {
    top: 53%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  overflow-y: scroll;
  position: fixed;
}

div h2 {
  font-size: 5vw;
  padding-bottom: 5vh;
}

hr {
  display: grid;
  margin: 5vh;
  place-items: center;
}

#beli span {
  align-items: center;
  background-color: rgba(255, 88, 81, 255);
  border-radius: 0.2em;
  border: 0.08em solid rgb(235, 235, 235);
  bottom: 0.4em;
  box-shadow: 0 0.4em 0.1em 0.019em rgb(235, 235, 235);
  color: rgb(235, 235, 235);
  display: flex;
  font-size: 1.5em;
  height: 2.5em;
  justify-content: center;
  position: relative;
  width: 8.25em;
}

#beli span:hover {
  box-shadow: 0 0 0 0 rgb(235, 235, 235);
  transform: translate(0, 0.4em);
  transition: all 0.5s;
}

#beli span:not(hover) {
  transition: all 1s;
}

#beli {
  background-color: rgba(255, 88, 81, 255);
  border-radius: 0.3em;
  border: 0.08em solid rgb(235, 235, 235);
  font-size: 12px;
  height: 4.2em;
  margin-top: 1rem;
  padding: 0.1em 0.25em;
  width: 13em;
}

#containered {
  height: 90vh;
  padding: 5vh;
}

#dropdown {
  color: black;
  display: grid;
  font-size: 3vh;
  padding: 0.5vh;
  place-items: center;
  position: relative;
}

#dropdown-content a,
#dropdown-content input {
  color: black;
  display: block;
  text-decoration: none;
}

#dropdown-content {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  top: 5vh;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

#dropdown:hover #dropdown-content {
  display: block;
}

#go_top a {
  color: black;
  text-decoration: none;
}

#go_top {
  animation: pulse_top 1.5s infinite;
  aspect-ratio: 1/1;
  background-color: rgb(235, 235, 235);
  border-radius: 50%;
  bottom: 2vh;
  display: grid;
  font-size: 4vh;
  opacity: 0;
  position: fixed;
  right: 2vh;
  text-align: center;
  width: 5vh;
  z-index: 9999999;
}

#headers {
  background-color: rgb(235, 235, 235);
  height: 100%;
  overflow: hidden;
  position: relative;
}

#left-text {
  background-color: rgb(235, 235, 235);
  width: 0%;
  z-index: 1;
}

#logos {
  animation: up_down 1s ease-in-out infinite;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s cubic-bezier(0.36, 0.08, 0.27, 0.86);
  width: 30vw;
  z-index: 3;
}

#logos_scroll {
  bottom: 65%;
  color: rgba(255, 88, 81, 255);
  font-size: 2vw;
  font-weight: bold;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: 1s cubic-bezier(0.55, 0, 0.44, 1);
}

#naved {
  align-items: center;
  background-color: rgb(250, 250, 250);
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr;
  height: 5vh;
  justify-content: center;
  padding: 0 5vh 0 5vh;
  position: fixed;
  width: calc(100% - 10vh);
  z-index: 999;
}

#pengenalan {
  font-size: 2rem;
}

#red_block {
  background-color: rgba(255, 88, 81, 255);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

#right-text {
  background-color: rgba(255, 88, 81, 255);
}

#rio_png {
  right: 0;
}

#steven {
  display: none;
}

#steven_png {
  display: none;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: 1s cubic-bezier(0.55, 0, 0.44, 1);
}

#steven_png:hover {
  transition: 0.5s ease-in-out;
}

* {
  font-family: Rubik, "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.add-cart img {
  width: 45px;
}

.add-cart {
  aspect-ratio: 1/1;
  background-color: rgba(185, 185, 185, 0.5);
  border-radius: 100%;
  border: 1px solid;
  display: grid;
  object-fit: cover;
  padding: 0.3em;
  place-items: center;
  transition: 0.3s ease-in-out;
  width: 50px;
}

.add-cart:hover {
  background-color: rgb(235, 235, 235);
  border: 1px solidrgb(235, 235, 235);
}

.card {
  background: rgba(255, 88, 81, 255);
  border-radius: 20px;
  height: 254px;
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  width: 190px;
}

.card-avatar img {
  height: inherit;
}

.card-avatar {
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  border-radius: 50%;
  display: grid;
  height: 100px;
  margin-bottom: 1rem;
  overflow: hidden;
  place-items: center;
  transition: transform 0.2s ease;
  width: 100px;
}

.card-avatar:hover {
  transform: scale(1.1);
}

.card-cart {
  bottom: 10px;
  color: white;
  cursor: pointer;
  display: grid;
  font-weight: bold;
  grid-template-columns: 2fr 1fr;
  justify-content: stretch;
  left: 60%;
  place-items: center;
  position: absolute;
  row-gap: 10px;
  text-align: center;
  transition: 0.5s ease-in-out;
  width: 35%;
  z-index: 9999999;
}

.card-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-social {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transform: translateY(200%);
  transition: transform 0.2s ease, opacity 0.2s ease;
  width: 100%;
}

.card-social-item a img {
  cursor: pointer;
  display: block;
  height: 20px;
  transition: fill 0.2s ease, transform 0.2s ease;
}

.card-social-item a img {
  fill: #232323;
  transform: scale(1.1);
}

.card-social-item {
  list-style: none;
}

.card-subtitle {
  color: black;
  font-size: 1em;
  text-align: center;
}

.card-title {
  color: white;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 5px;
  text-align: center;
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover .card-social {
  opacity: 1;
  transform: translateY(100%);
}

.card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.center-grid {
  display: grid;
  place-items: center;
}

.content {
  display: grid;
  padding: 5vh;
  place-items: center;
}

.footer-links a {
  color: black;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: rgb(235, 235, 235);
  text-decoration: none;
}

.footer-links li {
  display: block;
}

.footer-links {
  list-style: none;
  padding-left: 0;
}

.footer-links.inline li {
  display: inline-block;
}

.label_kursus .icon_kursus img {
  max-width: 20px;
  min-width: 20px;
}

.label_kursus .icon_kursus {
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 100%;
  color: var(--defaultBackground);
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  max-width: 40px;
  min-width: 40px;
}

.label_kursus .info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  white-space: pre;
}

.label_kursus .info>div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.list_kursus .card_kursus .label_kursus {
  display: flex;
  height: 40px;
  position: absolute;
  right: 0px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.list_kursus .card_kursus .shadow_kursus {
  bottom: 0px;
  height: 120px;
  left: 0px;
  position: absolute;
  right: 0px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.list_kursus .card_kursus {
  background-position: center;
  background-size: auto 120%;
  cursor: pointer;
  margin: 10px;
  min-width: 60px;
  overflow: hidden;
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.list_kursus .card_kursus.active_kursus .card-cart {
  opacity: 1;
}

.list_kursus .card_kursus.active_kursus .label_kursus .info>div {
  left: 0px;
  opacity: 1;
}

.list_kursus .card_kursus.active_kursus .label_kursus {
  bottom: 20px;
  left: 20px;
}

.list_kursus .card_kursus.active_kursus .shadow_kursus {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

.list_kursus .card_kursus.active_kursus {
  background-size: auto 100%;
  border-radius: 40px;
  flex-grow: 10000;
  margin: 0px;
  max-width: 600px;
  transform: scale(1);
}

.list_kursus .card_kursus:not(.active_kursus) .card-cart {
  opacity: 0;
}

.list_kursus .card_kursus:not(.active_kursus) .label_kursus .info>div {
  left: 20px;
  opacity: 0;
}

.list_kursus .card_kursus:not(.active_kursus) .label_kursus {
  bottom: 10px;
  left: 10px;
}

.list_kursus .card_kursus:not(.active_kursus) .shadow_kursus {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

.list_kursus .card_kursus:not(.active_kursus) {
  border-radius: 30px;
  flex-grow: 1;
}

.list_kursus {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: 400px;
  max-width: 900px;
  min-width: 600px;
  overflow: hidden;
  width: calc(100% - 100px);
}

.main {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.nav_link {
  color: black;
  display: grid;
  font-size: 3vh;
  padding: 0.5vh;
  place-items: center;
  position: relative;
}

.nav_link::before {
  background-color: black;
  border-radius: 4px;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
  width: 100%;
}

.nav_link:hover::before {
  scale: 1;
}

.png_guru {
  bottom: 0px;
  filter: grayscale(1);
  height: 70vh;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.png_guru:hover {
  filter: grayscale(0);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20%;
  padding-right: 20%;
}

.sharp-font {
  font-family: "sharp_font", Rubik, "Poppins", sans-serif;
  font-size: 12vh;
}

.side .ha2 {
  font-size: 17vh;
  margin: 0px 15vw;
  width: 70vw;
}

.side {
  display: grid;
  height: 100%;
  overflow: hidden;
  place-items: center;
  position: absolute;
  transition: 1s cubic-bezier(0.55, 0, 0.44, 1);
  width: 100%;
}

.site-footer .social-icons a {
  background-color: rgb(235, 235, 235);
  border-radius: 100%;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  width: 40px;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer a {
  color: black;
  transition: 0.2s ease-in-out;
}

.site-footer a:hover {
  color: rgb(235, 235, 235);
  text-decoration: none;
}

.site-footer h6 {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 5px;
  text-transform: uppercase;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer {
  background-color: rgba(255, 88, 81, 255);
  color: black;
  font-size: 15px;
  line-height: 24px;
  padding: 45px 0 20px;
}

.social-icons a img {
  transition: 0.3s ease-in-out;
  width: 70%;
}

.social-icons a img:hover {
  transform: scale(0.7);
}

.social-icons a {
  background-color: white;
  border-radius: 50%;
  color: rgb(235, 235, 235);
  display: inline-block;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  margin-right: 8px;
  text-align: center;
  transition: all 0.2s linear;
  width: 44px;
}

.social-icons a {
  display: grid;
  place-items: center;
}

.social-icons a.instagram:hover {
  background-color: rgba(241, 69, 86, 255);
}

.social-icons a.whatsapp:hover {
  background-color: rgba(36, 204, 99, 255);
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  background-color: rgba(255, 88, 81, 255);
  color: white;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons {
  list-style: none;
  margin-bottom: 0;
  padding-top: 10px;
}

.social-icons.size-sm a {
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  width: 34px;
}

.span_show {
  opacity: 0;
  transition: 0.5s ease-in-out;
  white-space: pre-line;
}

.sub {
  transition-delay: 0.1s;
}